:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --light-slate: #8e8f99;
  --dairy: #fcfcfc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);

  --mobile-container-width: 396px;
  --tablet-container-width: 736px;
  --desktop-container-width: 1128px;

  --container-width: var(--mobile-container-width);
  --container-side-padding: 15px;
  --container-max-width: calc(
    var(--container-width) + var(--container-side-padding) * 2
  );
  --order-service-background-image: url(../images/studio/order/order-service-mobile.jpg);
}

body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------Header---------------- */

.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: start;
}

.header-logo {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-accent {
  color: var(--navyblue);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  display: block;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}

.header-address-items {
  display: flex;
  gap: 40px;
}

.header-address-link {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--ocean);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--ocean);
  width: 100%;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
}

/* ----------------1.Intro---------------- */

.intro {
  background-color: var(--navyblue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-header {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  max-width: 496px;

  margin-bottom: 48px;
}

.intro-button {
  background-color: var(--iris);
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  border-radius: 4px;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-button:hover,
.intro-button:focus {
  background-color: var(--ocean);
}

/* ----------------2.Advantages---------------- */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.advantages-item {
  /* width: calc((100% - 24px * 3) / 4); */
  width: 100%;
  position: relative;
}

.advantage-block {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  display: none;
}

.advantage-icons {
  display: none;
  fill: var(--navyblue);
}

.advantages-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 8px 0;
}

/* ----------------3.What Are We Doing---------------- */

.technology {
  padding-bottom: 120px;
}

.subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.image-list {
  display: flex;
  gap: 24px;
}

.rectangle-image {
  width: calc((100% - 24px * 2) / 3);
  border: 1px solid var(--cornflower);
}

/* ----------------4.Team---------------- */

.end-body {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-cards-list {
  display: flex;
  gap: 24px;
}

.team-card {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-text {
  padding: 32px 0;
  text-align: center;
  transition: background-color 300ms ease;
}

.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-ellipse {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

/* ----------------5.Customers---------------- */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.client-list {
  display: flex;
  gap: 24px;
}

.client-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* ----------------Footer---------------- */

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.webstudio-footer {
  margin-right: 120px;
}

.footer-logo {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-block {
  gap: 16px;
  display: flex;
}
.footer-social {
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.social-link-footer {
  background-color: var(--ocean);
}

.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.social-footer-box {
  margin-right: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding-left: 16px;
  color: var(--white);
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-input:focus::placeholder {
  opacity: 0;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  border: none;
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  margin-left: 16px;
  fill: var(--white);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
}

/* ----------------Portfolio Page---------------- */

.cards {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  font-family: var(--primary-font);
  background-color: var(--cloud);
  color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----------------Cards Section----------------- */

.project-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card {
  background: var(--white);
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
  box-shadow: none;
}

.project-card-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-image {
  position: relative;
  overflow: hidden;
}

.card-cover-text {
  position: absolute;
  top: 0;
  color: var(--cloud, #f4f4fd);
  background-color: var(--iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;

  width: 360px;
  flex-shrink: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:is(:hover, :focus) .card-cover-text {
  transform: translateY(0%);
}

.project-card-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.project-card-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-card-option {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -----------------Modal----------------- */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  display: flex;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  left: 50%;
  top: 50%;
  flex-shrink: 0;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding: 72px 24px 24px;
}

.modal-close-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navyblue);
}

.modal-close-button:is(:hover, :focus) .modal-icon {
  fill: var(--white);
}

.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  color: var(--navyblue);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label-text {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  fill: var(--navyblue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
  position: relative;
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--iris);
}

.modal-input::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input:focus::placeholder {
  opacity: 0;
}

.modal-comment-field {
  margin-bottom: 16px;
}

.modal-textarea {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--navyblue);
  outline: transparent;
  resize: none;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-textarea:focus::placeholder {
  opacity: 0;
}

.modal-textarea:focus {
  border-color: var(--iris);
}

.modal-checkbox-field {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  cursor: pointer;
}

.policy-link {
  color: var(--iris);
}

.check-text-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-check:checked + .check-text span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-check:focus + .check-text span {
  border-color: var(--ocean);
}

.check-text {
  margin-bottom: 24px;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: var(--mobile-container-width);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--tablet-container-width);
  }

  .advantage-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-text {
    max-width: 356px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--desktop-container-width);
  }
}
