:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --light-slate: #8e8f99;
  --dairy: #fcfcfc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);

  --mobile-container-width: 396px;
  --tablet-container-width: 736px;
  --desktop-container-width: 1128px;

  --container-width: var(--mobile-container-width);
  --container-side-padding: 15px;
  --container-max-width: calc(
    var(--container-width) + var(--container-side-padding) * 2
  );
  --order-service-background-image: url(../images/people-office-m.jpg);

  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);

  --rgba-navyblue: 46, 47, 66;
  --rgba-black: 0, 0, 0;
}

body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  padding: 0 var(--container-side-padding);
  margin: 0 auto;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  padding: 0;
  color: currentColor;
  outline: none;
  background-color: transparent;
}

.no-scroll {
  overflow: hidden;
}

/* ----------------Header---------------- */

.header {
  border-bottom: 1px solid var(--cornflower);
  padding-top: 24px;
  padding-bottom: 22px;
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-menu,
.header-address-items {
  display: none;
}

.header-logo {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: var(--navyblue);
}

.menu-open-icon {
  stroke: var(--navyblue);
  transition: stroke var(--transition-time) var(--transition-function);
}

.menu-open-button {
  display: flex;
}

.mod-menu {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 500ms var(--transition-function),
    visibility 500ms var(--transition-function),
    transform 500ms var(--transition-function);
}
.menu-close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid var(--cornflower);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function),
    border var(--transition-time) var(--transition-function);
}

.menu-close-button:is(:hover, :focus) {
  background-color: var(--ocean);
  border: none;
}
.menu-close-icon {
  fill: var(--navyblue);
  transition: fill var(--transition-time) var(--transition-function);
}

.menu-close-button:is(:hover, :focus) .menu-close-icon {
  fill: var(--white);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-link {
  color: var(--navyblue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.current {
  color: var(--ocean);
}

.mob-address-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.menu-address-phone {
  color: var(--iris);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: block;
}

.menu-address-email {
  color: var(--slate);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-socials {
  display: flex;
  justify-content: space-between;
}

.menu-social-item {
  width: 40px;
  height: 40px;
}

.menu-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function);
}

.menu-social-link:is(:hover, :focus) {
  background-color: var(--ocean);
}

.menu-social-icon {
  fill: var(--cloud);
}

/* ----------------1.Intro---------------- */

.intro {
  background-color: var(--navyblue);
  /* padding: 188px 0; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-m.jpg);
  max-width: 428px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 112px 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  :root {
    --order-service-background-image: url(../images/people-office-m-2x.jpg);
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-header {
  color: var(--white);
  text-align: center;
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  /* line-height: 1.07; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  /* max-width: 496px; */
  max-width: 320px;
  margin-bottom: 72px;
}

.intro-button {
  background-color: var(--iris);
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-button:hover,
.intro-button:focus {
  background-color: var(--ocean);
}

/* ----------------2.Advantages---------------- */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-item {
  position: relative;
}

.advantage-block {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  display: none;
}

.advantage-icons {
  display: none;
  fill: var(--navyblue);
}

.advantages-subtitle {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.advantages-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------------3.What Are We Doing---------------- */

.technology {
  padding-bottom: 120px;
  display: none;
}

.subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.image-list {
  display: flex;
  gap: 24px;
}

.rectangle-image {
  width: calc((100% - 24px * 2) / 3);
  border: 1px solid var(--cornflower);
}

/* ----------------4.Team---------------- */

.end-body {
  background-color: var(--cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-cards-list {
  display: flex;
  gap: 64px 24px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card img {
  margin: 0 auto;
}

.team-card-text {
  padding: 32px 0;
  text-align: center;
  transition: background-color 300ms ease;
}

.team-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-ellipse {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

/* ----------------5.Customers---------------- */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 16px;
  row-gap: 72px;
}

.client-item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
  width: 110px;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* ----------------Footer---------------- */

.footer {
  background-color: var(--navyblue);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.footer-logo {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
}

.footer-logo-accent {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 268px;
}

.footer-social-block {
  gap: 16px;
  display: flex;
  text-align: center;
}

.footer-social {
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  /* max-width: 264px; */
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subscribe-line {
  width: 100%;
}

.social-link-footer {
  background-color: var(--ocean);
}

.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  gap: 16px 24px;
  flex-direction: column;
}

.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding-left: 16px;
  color: var(--white);
  width: 100%;
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-input:focus::placeholder {
  opacity: 0;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 165px;
  max-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  border: none;
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  margin-left: 16px;
  fill: var(--white);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
}

/* ----------------Portfolio Page---------------- */

.cards {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  font-family: var(--primary-font);
  background-color: var(--cloud);
  color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----------------Cards Section----------------- */

.project-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card {
  background: var(--white);
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
  box-shadow: none;
}

.project-card-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-image {
  position: relative;
  overflow: hidden;
}

.card-cover-text {
  position: absolute;
  top: 0;
  color: var(--cloud, #f4f4fd);
  background-color: var(--iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;

  width: 360px;
  flex-shrink: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:is(:hover, :focus) .card-cover-text {
  transform: translateY(0%);
}

.project-card-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.project-card-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-card-option {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -----------------Modal----------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  width: 392px;
  padding: 72px 16px 24px;
  max-width: 95%;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(var(--rgba-black), 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--transition-function),
    border var(--transition-time) var(--transition-function);
}

.modal-close-button:is(:hover, :focus) {
  background-color: var(--ocean);
  border: none;
}

.modal-close-icon {
  fill: var(--navyblue);
  transition: fill var(--transition-time) var(--transition-function);
}

.modal-close-button:is(:hover, :focus) .modal-close-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-form-title {
  margin-bottom: 16px;
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.order-field-wrapper {
  margin-bottom: 8px;
}

.order-label {
  display: block;
  color: var(--light-slate);
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.17;
}

.order-input-wrapper {
  position: relative;
}

.order-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(var(--rgba-navyblue), 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input::placeholder {
  color: rgba(var(--rgba-navyblue), 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.order-input:focus {
  border-color: var(--iris);
}

.order-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input:focus + .order-icon {
  fill: var(--iris);
}

.order-comment-field-wrapper {
  margin-bottom: 16px;
  line-height: 24px;
}

.order-comment {
  padding: 8px 16px;
  height: 120px;
  resize: none;
  outline: transparent;
  color: rgba(var(--rgba-navyblue), 0.4);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.order-checkbox-wrap {
  margin-bottom: 24px;
  line-height: 24px;
}

.order-checkbox-check,
.order-checkbox {
  width: 16px;
  height: 16px;
}

.order-terms {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.order-checkbox-check {
  border-radius: 2px;
  border: 1px solid rgba(var(--rgba-navyblue), 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
  transition-property: background-color, border, fill;
}

input[type="checkbox"]:checked + label > span {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}

input[type="checkbox"]:focus + label > span {
  border-color: var(--iris);
}

.order-terms-link {
  color: var(--iris);
}

.order-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 24px auto 0;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(var(--rgba-black), 0.15);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-time) var(--transition-function);
}

.order-submit:is(:hover, :focus) {
  background-color: var(--ocean);
}
